@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}
 
section{
    padding: 100px;
    height: 100vh;

}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}

header .HEROS
{
    position: relative;
    font-size: 28px;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;

}

header .toggle
{
    position: relative;
    width: 30px;
    height: 30px;
    background: url(menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10000;

}
header .toggle.active{
    
    background: url(close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;

}

.navigation{
    position: absolute;
    display: flex;
    right: 150px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

}

.navigation.active
{
    opacity: 1;
    visibility: visible;
}

.navigation li{
    list-style: none;

}

.navigation li a{
    color: #111;
    font-size: 16px;
    margin: 0 20px;
    font-weight: 600;
    display: inline-block;

}

.container{
    position: absolute;
    display: flex;
    height: calc(100% - 200px);
    width: calc(100% - 200px);
    z-index: 100;

}

.container .box{
    position: relative;
    width: 25%;
    height: 100%;
    overflow: hidden;
    border-right: 10px solid #fff;
}

.container .box:last-child{
    border-right: none;
}

.container .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;

} 

.container .box .imgBx.toggle.active{
    position: fixed;
    top: 100%;
    left: 100%;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    z-index: 1000;
    opacity: 1;;

}

.container .box .imgBx img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}